
.pointer{
    &:hover{
        cursor: pointer;
    }
}

/*porker存放區設計*/
.cardArea{
    width: 112px;
    height: 173px;
}

/*相對定位*/
.relative{
    position: relative;
}

/*絕對定位*/
.absolute{
    position: absolute;
}


// [draggable="true"] {
//     /*
//      To prevent user selecting inside the drag source
//     */
//     user-select: none;
//     -moz-user-select: none;
//     -webkit-user-select: none;
//     -ms-user-select: none;
//   }